
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #219653; text-align: center; margin-top: 100px; margin-bottom: 100px ">Đơn hàng của bạn đang được xử lí</h1>
<h2 style="color: darkred; text-align: center; margin-top: 100px; margin-bottom: 100px ">Chúng tôi sẽ sớm phản hồi tới bạn cảm ơn vì đã mua hàng</h2>

