<link href="~/Content/Layout/Ava.css" rel="stylesheet" />
<div class="promote__avakids container-fluid">
    <div class="promote__top">
        <div class="promote__animation"></div>
        <div class="promote__title">
            <a href="https://www.avakids.com/">
                <img class="promote__title--logo" src="https://cdn.tgdd.vn/mwgcart/bluekids/images/home/logo-coupon.png">
            </a>
            <p style="margin: 0px 0px 0px 10px;">
                <span style="color: #fbe77e; font: 15px arial; margin-right: 5px;">FREESHIP cho đơn hàng từ 300.000đ</span>
                <em style="font: 12px arial;">(Đây là khuyến mãi của website cùng tập đoàn MWG)</em>
            </p>
        </div>
        <div class="promote__more">
            <a href="https://www.avakids.com/">
                <p style="font: 12px arial; margin: 0px 5px 0px 0px;">Xem thêm sản <br>phẩm khuyến mãi</p>
                <img src="https://cdn-icons-png.flaticon.com/128/2767/2767192.png?ga=GA1.1.1214305306.1697263106&track=ais">
            </a>
        </div>
    </div>
    <div class="promote__main">
        <div class="promote__form">
            <p class="promote__form--noti">
                Tặng mã giảm thêm 50.000đ cho đơn hàng từ 500.000đ
            </p>
            <form class="promote__coupon--form">
                <div class="input__form--promote">
                    <input type="text" name="name" id="cpKName" placeholder="Nhập Họ Tên*" maxlength="50" onfocus="initCpKids()" data-gtm-form-interact-field-id="0">
                </div>
                <div class="input__form--promote">
                    <input type="tel" name="phone" id="cpKPhone" placeholder="Nhập số điện thoại*" maxlength="15" onfocus="initCpKids()" onkeypress="return /[0-9]/i.test(event.key)" data-gtm-form-interact-field-id="1">
                </div>
                <div class="btn__form--promote">
                    <button>NHẬN MÃ</button>
                </div>
            </form>
            <p class="promote__form--note">
                *Áp dụng cho khách lần đầu mua hàng tại Website AVAKids.com
                *Không áp dụng sản phẩm Sữa, Tã
            </p>
        </div>
        <div class="promote__banner">
            <a href="https://www.avakids.com/the-gioi-sua?utm_source=TGDD&utm_medium=BannerCoupon+Desk&utm_campaign=Promote+avakids"><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x96/https://cdn.tgdd.vn/2023/10/banner/SUA-BOT-190x300-1.png"></a>
            <a href="https://www.avakids.com/thuc-pham-do-uong?utm_source=TGDD&utm_medium=BannerCoupon+Desk&utm_campaign=Promote+avakids"><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x96/https://cdn.tgdd.vn/2023/10/banner/THUC-PHAM-190x300-1.png"></a>
            <a href="https://www.avakids.com/my-pham-cham-soc-me-va-be?utm_source=TGDD&utm_medium=BannerCoupon+Desk&utm_campaign=Promote+avakids"><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x96/https://cdn.tgdd.vn/2023/10/banner/HMP-190x300-1.png"></a>
            <a href="https://www.avakids.com/thoi-trang-tre-em?utm_source=TGDD&utm_medium=BannerCoupon+Desk&utm_campaign=Promote+avakids"><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x96/https://cdn.tgdd.vn/2023/10/banner/THOI-TRANG-190x300-1.png"></a>
            <a href="https://www.avakids.com/do-dung-me-va-be"><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x96/https://cdn.tgdd.vn/2023/10/banner/DO-DUNG-190x300-1.png"></a>
        </div>
    </div>
</div>