<style>
    .service__conv{
        padding:20px;
        margin-top:30px;
    }
</style>
<div class="container-fluid service__conv">
    <div class="service__conv--title"><h4>DỊCH VỤ TIỆN ÍCH</h4></div>
    <div class="service__conv--box">
        <ul>
            <li style="background-color: #DCEEFF;">
                <a href="https://www.thegioididong.com/tien-ich/the-cao-dien-thoai">
                    <div class="service__conv--box">
                        <div class="service__conv--img">
                            <img src="https://i.imgur.com/HVaBOOL.png">
                        </div>
                        <div class="service__conv--text">
                            <small class="text-conv-title">Mua Mã thẻ cào</small>
                            <strong style="color: red;">Giảm 2%</strong>
                            <small>Cho mệnh giá trừ 100.000 trở lên</small>
                        </div>
                    </div>
                </a>
            </li>
            <li style="background-color: #FEF5CF;">
                <a href="https://www.thegioididong.com/tien-ich/thanh-toan-tien-dien">
                    <div class="service__conv--box">
                        <div class="service__conv--img" style="background-color: #FDEEBC;">
                            <img src="https://i.imgur.com/6mb9M3P.png">
                        </div>
                        <div class="service__conv--text">
                            <small class="text-conv-title">Dịch Vụ Đóng Tiền</small>
                            <small>
                                Điện, Nước, Trả Góp, Internet, Cước điện thoại trả sau
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li style="background-color: #FFEFDB;">
                <a href="https://www.thegioididong.com/tien-ich/the-cao-game">
                    <div class="service__conv--box">
                        <div class="service__conv--img" style="background-color: #FFE1CF">
                            <img src="https://i.imgur.com/llS7A8X.png">
                        </div>
                        <div class="service__conv--text">
                            <small class="text-conv-title">Mua thẻ game</small>
                            <strong>Giảm 2%</strong>
                            <small>
                                cho tất cả nhà mạng, áp dụng cho mệnh giá từ 300.000 trở lên
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li style="background-color: #E1FECF;">
                <a href="https://www.thegioididong.com/windows-ban-quyen#office">
                    <div class="service__conv--box">
                        <div class="service__conv--img" style="background-color: #D6FAC3;">
                            <img src="https://i.imgur.com/RYJQKQE.png">
                        </div>
                        <div class="service__conv--text">
                            <small class="text-conv-title">Office bản quyền</small>
                            <small>
                                Mua Microsoft Office giá chỉ từ 990k
                            </small>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
